build
target
db
log
.metadata
.settings/*
.project
.classpath
app.log
/bin/
/props-files/
/planilhas
libs/
src/main/java/br/cefetrj/sca/infra/auth/EstrategiaAutenticacaoSIE.java
.idea
application.properties.MySQL
