.form {
            min-height: 900px;
            overflow: hidden;
            width: 900px;
            border: 1px solid black;
            margin-left: 230px;
            margin-top: 50px;
        }

        .question {
            font-weight: bold;
        }

        .question-wrapper {
            margin: auto;
            margin-top: 15px;
            width: 80%;
        }

        .question-box {
            min-height: 100px;
            width: 80%;
            margin: auto;
            border-radius: 5px;
            border: 1px solid #C0C0C0;
            background-color: #eeeeee;
            overflow: hidden;
        }

        img {
            margin-top:15px;
            margin-left:330px;
            height: 80px;
            width: 150px;
        }