/* Basic Grey */
/* from http://www.sanwebe.com/2013/10/css-html-form-styles */
.basic-grey {
	width: 640px;
	margin-right: auto;
	margin-left: auto;
	background: #EEE;
	padding: 20px 30px 20px 30px;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #444;
	text-shadow: 1px 1px 1px #FFF;
	border: 1px solid #DDD;
}

/* top */
.basic-grey h1 {
	font-size: 25px;
	padding: 0px 0px 10px 30px;
	display: block;
	border-bottom: 1px solid #DDD;
	margin: -10px -30px 30px -30px;
}

/* bottom */
.basic-grey h4 {
	font-size: 25px;
	padding: 10px 0px 0px 30px;
	display: block;
	border-top: 1px solid #DDD;
	margin: 10px -30px 20px -30px;
}

.basic-grey input[type="text"],.basic-grey input[type="email"],.basic-grey textarea,.basic-grey select
	{
	height: 24px;
	width: 100%;
	border: 1px solid #DDD;
	background: #FAFAFA;
}

.basic-grey input[type="password"],.basic-grey input[type="email"],.basic-grey textarea,.basic-grey select
	{
	height: 24px;
	width: 100%;
	border: 1px solid #DDD;
	background: #FAFAFA;
}

.basic-grey textarea {
	height: 100px;
}

.basic-grey a.button_embedded {
	text-decoration: none;
}

.basic-grey .button,.basic-grey input[type="submit"],.basic-grey input[type="button"]
	{
	color: #FFF;
	background: #888;
	text-shadow: 1px 1px 1px #000;
	border: 1px solid #666;
	padding: 3px;
}

.basic-grey .button:hover,.basic-grey input[type="submit"]:hover,.basic-grey input[type="button"]:hover
	{
	background: #AAA;
}

.basic-grey input[disabled="disabled"] {
	color: #CCC;
	text-shadow: 1px 1px 1px #444;
	background: #AAA;
}