/* regras gerais de background e hr */
body {background-color: #EEEEEE; margin-bottom: 20px;}
hr {border-color: #BFBFBF;}
span.label {font-size: medium; margin-bottom: 20px; display: inline-block;}

/* regras font-awesome */
i {margin-top: 10px; cursor: pointer;}
.fa{margin:0px;}
.fa-minus-circle {color: red; padding-top:35px;}
.fa-plus-circle {color: green; margin-top:15px;}

/* menu principal de inclusao de disciplina */
.home-inclusao .table {width: 30%; margin: 30px auto;}
.home-inclusao .vcenter {display: inline-block; vertical-align: middle; float: none;}
.home-inclusao .well {margin-top: 20px;}
.home-inclusao .table-responsive {margin-top: 30px;}
.home-inclusao .btn-link {padding: 0px; max-height: 10px;}
.home-inclusao .btn-default {margin-top: 20px;}
.home-inclusao .bg-warning {display: inline-block;}
.home-inclusao .label-warning {color:black;}
.home-inclusao .label {font-size: 14px;}

/* pagina de solicitaçao*/
.inclusao-disciplina ul {list-style: none;}
.inclusao-disciplina label.radio-input {margin-bottom: 22px;}
.inclusao-disciplina label.radio-inline {margin-right: 20px; margin-bottom: 10px; text-align: left;}
.inclusao-disciplina .row {margin: 0px;}
.inclusao-disciplina .row p {font-size: 17px; padding-left: 5px;}
.inclusao-disciplina .text-inline {margin-top: 15px;}
.inclusao-disciplina .text-inline h4 {display: inline-block; margin-right: 45px;}
.inclusao-disciplina #inputs {margin-top:10px; margin-bottom: 25px;}
.inclusao-disciplina .add, .remove {display:none;}
.inclusao-disciplina .add h4 {color: green; margin-top: 30px; margin-left:10px; position:absolute; cursor:pointer; display: inline-block;}
.inclusao-disciplina .form-group textarea {width:50%;}

/* lista de solicitações */
.lista-solicitacoes .dados-aluno {position: relative; float:left; width:50%;}
.lista-solicitacoes .status {width: 30%;float: left;}
.lista-solicitacoes .well {display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex;}
.lista-solicitacoes .comprovante {display: inline-block; margin-left: 20px; text-decoration: none;}
.lista-solicitacoes .btn-link {margin-top: 33px; color: black;}
.lista-solicitacoes .text-success{color:#5cb85c;}
.lista-solicitacoes .text-danger{color: red;}

/* formulario de login */
.login-view .form-signin {max-width: 330px; padding: 15px; margin: 0 auto;}
.login-view .form-signin .form-control {position: relative; height: auto; 
-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box; padding: 10px; font-size: 16px;}
.login-view .form-signin .form-control:focus {z-index: 2;}
.login-view .form-signin input[type="text"] {margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;}
.login-view .form-signin input[type="password"] {margin-bottom: 10px; border-top-left-radius: 0; border-top-right-radius: 0;}
.login-view .form-signin label{margin-top:10px;}
.login-view .label {margin-bottom: 15px;}

/* menu principal do sca*/
.nav>li>a:hover {background-color: #DEDEDE;}
.menu-principal li {padding: 0px 60px 0 60px; margin-bottom: 15px;}
.menu-principal .active {padding: 0px 31% 0 31%; margin-top: 50px;}