<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>SCA</display-name>
	<!-- from http://www.journaldev.com/2433/spring-mvc-tutorial-for-beginners-with-spring-tool-suite -->

	<!-- Spring configuration file -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

	<!-- Start Spring -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- WEB servlet -->
	<servlet>
		<servlet-name>SCA-servlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/servletContext.xml</param-value> <!-- or servlet config will be NAMESERVLET-servlet.xml -->
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Servlet mapping -->
	<servlet-mapping>
		<servlet-name>SCA-servlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>
